doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Parcel Web Dev Boilerplate
    meta(content="width=device-width", name="viewport")
    link(rel="stylesheet", href="style/main.scss")
    script(src="script/main.ts")

  body
    header.Header(role="banner")
      h1 Parcel Web Dev Boilerplate

    main.Main(role="main")

    footer.Footer(role="contentinfo")
